 <% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user, saves: saved_homes).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.logo = '<%= image_url('logo.png') %>'
  window.splashLink = '<%= video_url('splash_image.mp4') %>'
  window.imageEHO = '<%= image_url('eho.png') %>'
  window.gitLogo = '<%= image_url('git_logo.png') %>'
</script>



<main id="root"></main>
